<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File"
                fileName="Logs/log_${shortdate}.txt"
                layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=ToString,StackTrace}"
                archiveEvery="Day"
                maxArchiveFiles="7"
                encoding="utf-8" />
        <target name="logconsole" xsi:type="Console"
                layout="${level:uppercase=true}: ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole,logfile" />
    </rules>
</nlog>